body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
header {
  background: black;
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 1300px;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid seashell;
}
.logo {
  display: flex;
  padding-left: 10px;
  padding-top: 0;
  align-items: center;
}
.header-links {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row;
  width: 50%;
}
a {
  color: seashell;
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  text-decoration: underline;
}
.img1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mission-container {
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
border: 1px solid white;
}
 #mission {
display: flex;
align-items: center;
flex-flow: column;
position: absolute;
background-color: black;
width: 1200px;
}
.tea {
  display: flex;
  width: 1000px;
  position: relative;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  padding: 10px
}
#featured-tea {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
